/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables  */
:root {
    --bg-color: #4F1787;
    --char-color: white;
    --obst-color: #171427;
}

/* ============================== */
body{
    background-color: #2E073F;
}
.game-container {
    width: 400px;
    height: 500px;
    background-color: var(--bg-color);
    margin: auto;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.character {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 400px;
    left: 120px;
    border-radius: 50%;
    background-color: orange;
    z-index: 1000;
}

.block {
    width: 100%;
    height: 20px;
    background-color: var(--obst-color);
    position: absolute;
    animation: moveDown 5s linear forwards;
}

.hole {
    width: 70px;
    height: 20px;
    background-color: var(--bg-color);
    position: absolute;
    animation: moveDown 5s linear forwards;
}

@keyframes moveDown {
    0% {
        top: 0px;
    }

    100% {
        top: 100%;
        display: none;
        visibility: hidden;
    }
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}
.startbtn{
    background-color: #4F1787;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.startbtn:hover{
    background-color: #171427;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bolder;
}